/* General Container Styling */
.application-container {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left Side (Image Section) */
.application-container .left-side {
  width: 40%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.application-container .motivational-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Right Side (Content Section) */
.application-container .right-side {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.application-container h1 {
  margin-bottom: 15px;
  color: #333;
  font-size: 24px;
}

.application-container .instructions {
  font-size: 15px;
  text-align: left;
  color: #555;
  line-height: 1.6;
}

.application-container .alert {
  color: red;
  font-weight: bold;
}

.application-container .guiding-questions {
  margin-top: 20px;
}

.application-container .guiding-questions h2 {
  text-align: left;
  margin-bottom: 10px;
  color: #444;
  font-size: 18px;
}

.application-container .guiding-questions ul {
  list-style: disc;
  text-align: left; 
  margin-left: 20px;
  color: #555;
}

.application-container .guiding-questions li {
  margin-bottom: 8px;
}

/* Textarea and Word Count */
.application-container .motivational-textarea {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;
}

.application-container .word-counter {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.application-container .word-limit-exceeded {
  color: red;
  margin-left: 10px;
  font-weight: bold;
}

/* Buttons */
.application-container .container-button {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1.5rem;
}

.application-container .submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #990000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.application-container .submit-button:hover {
  background-color: #520202;
}

/* Responsive Design */
@media (max-width: 768px) {
  .application-container {
    flex-direction: column;
    margin: 10px;
  }

  .application-container .left-side, .right-side {
    width: 100%;
    padding: 10px;
  }

  .application-container .motivational-textarea {
    height: 120px;
    font-size: 12px;
  }

  .application-container .submit-button {
    width: 100%;
    max-width: 300px;
  }

  .application-container .back-button {
    width: 100%;
    max-width: 300px;
  }

  .application-container h1 {
    font-size: 20px;
  }

  .application-container .instructions, .guiding-questions ul {
    font-size: 12px;
  }
}
