/* General Styles */
.container-Signup {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #663030;
  min-height: 100vh;
  align-items: center;
  justify-content: start;
  gap: 5rem;

}

/* Left Section */
.container-Signup .left-section {
  width: 100%;
  height: 99vh;
  flex: 0.8;
}

.container-Signup .full-width-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Right Section */
.container-Signup .right-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* flex: 1; */
  max-width: 900px;
}

.container-Signup .title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #990000;
  font-weight: bold;
}

.container-Signup .subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.container-Signup .error-message {
  color: #d9534f;
  background-color: #f9d6d5;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Form Styling */
.container-Signup .form {
  display: flex;
  flex-direction: column;
}

.container-Signup .input {
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.container-Signup .input:focus {
  border-color: #000;
  outline: none;
}

.container-Signup .button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #990000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-Signup .button:hover {
  background-color: #520202;
}

/* Link Container */
.container-Signup .link-container {
  margin-top: 20px;
  text-align: center;
}

.container-Signup .register-link {
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.container-Signup .register-link:hover {
  color: #990000;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  .container-Signup {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .container-Signup .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .container-Signup .full-width-image {
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }

  .container-Signup .right-section {
    width: 80%;
    /* padding: 20px; */
    box-shadow: none;
  }
}
