.userMana h1 {
  padding-top: 20px;
  font-size: 33px;
}

.user-table-container {
  width: 100%;
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.userMana .user-table th {
  text-align: center;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.user-table tr:hover {
  background-color: #f5f5f5;
}

.user-table td button {
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: opacity 0.3s ease;
}

.user-table td button.edit {
  background-color: #28a745;
}

.user-table td button.delete {
  background-color: #dc3545;
}

.user-table td input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f8f9fa;
}

.user-table td input:focus {
  border-color: #000;
  outline: none;
  background-color: #fff;
}

.user-table td button.save {
  background-color: #28a745;
}

.user-table td button.cancel {
  background-color: #dc3545;
}

.user-table td button:hover {
  opacity: 0.8;
}

.back-btn {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-btn:hover {
  background-color: #520202;
}

@media screen and (max-width: 950px){
  .user-table {
    max-width: auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .userMana h1 {
    font-size: 20px;
  }

  .user-table-container {
    overflow-x: auto;
  }
  .user-table {
    max-width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .user-table th, .user-table td {
    padding: 8px;
    font-size: 14px;
    text-align: center; /* Keep text centered on small screens */
  }
  .back-button {
    top: 10px;
    left: 20px;
    padding: 8px 16px;
    font-size: 14px;
  }
  .user-table td button {
    padding: 4px 8px;
    font-size: 12px;
  }
}
